/*Variables*/
$icon: 'ElegantIcons';
$blue: #21c2f8;
$lightviolet: #a1b1bc;
$darkblue: #1a1c27;

@import "common/index.scss";
@import "partials/index.scss";
@import "pages/index.scss";
// @import "tablet.scss";