$green:#1abc9c;
$lightviolet: #a1b1bc;
$blue:#00cced;

.error404 {
    padding: 100px 0px;
    text-align: center;

    h2 {
        margin-top: 100px;
        font-size: 30px;
        line-height: 36px;
        font-weight: 400;
        margin-bottom: 7px;
    }

    p {
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
        margin-bottom: 70px;
    }


    #keyword {
        position: relative;
        background: #ffffff;
        border: 1px solid #ecf0f1;
        color: #a1b1bc;
        border-radius: 2px;
        padding: 14px 20px;
        width: 100%;

    }

    #searchsubmit {
        font-size: 25px;
        border: none;
        position: absolute;
        right: 10px;
        top: 10px;
        background-color: #ffffff;
        color: $lightviolet;
        transition: all 0.2 linear;
        &:hover{
            color: $green;
            cursor: pointer;
        }

        &:active{
            outline: none;
        }
    }

    .search_form {
        position: relative;
        width: 70%;
        margin: 85px auto;
    }
}