$green:#1abc9c;
$lightviolet: #a1b1bc;
$blue:#00cced;
.about {
    &__banner {
        background-image: url(https://3o7uf91awcm62zbzqs3jrg2t-wpengine.netdna-ssl.com/wp-content/uploads/2015/02/titlebg1.jpg?id=3887);
        padding: 96px 101px 0px;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;

        &--image {
            width: 65%;

            img {
                width: 100%;
            }
        }

        &--content {
            width: 35%;
            text-align: left;

            h2 {
                font-size: 48px;
                color: #ffffff;
                line-height: 56px;
                font-weight: 400;
                font-style: normal;
                margin-bottom: 20px;

                span {
                    font-weight: 900;
                }
            }

            h4 {
                font-size: 18px;
                color: #ffffff;
                line-height: 30px;
                text-align: left;
                font-family: Lato;
                font-weight: 700;
                font-style: normal;
            }

            a {
                color: #ffffff;
                background: rgba(0, 0, 0, 0.01);
                border: 1px solid #ffffff;
                font-weight: 900;
                border-radius: 3px;
                padding: 10px 14px;
                text-transform: uppercase;
                margin-top: 10px;

                &:hover {
                    color: #6328fc;
                    background: #ffffff;
                    border-color: #ffffff;
                }
            }
        }
    }

    &__welcome {
        padding: 100px 0px;

        h2 {
            text-align: left;
            font-weight: 300;
            font-style: normal;
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 20px;
        }

        a {
            color: #ffffff;
            background: #2c3e50;
            margin: 0px;
            font-weight: 900;
            border-radius: 3px;
            font-size: 16px;
            padding: 15px 20px;
            vertical-align: middle;
            text-transform: uppercase;

            &:hover {
                color: #ffffff;
                background: #23ddd4;
            }
        }

        i {
            color: $green;
            margin-right: 20px;
        }
    }

    &__intro {
        background-color: #f9fafb;
        padding: 100px 0px;

        &--content {
            h2 {
                font-weight: 300;
                font-size: 36px;
                margin-bottom: 15px;
            }

            ul {
                list-style: none;
                padding: 0;
                margin-top: 18px;
            }

            li {
                line-height: 24px;
                color: $lightviolet;

                i {
                    color: $green;
                    margin-right: 20px;
                    font-size: 12px;
                }
            }
        }

        &--image {}
    }

    &__mission {
        padding: 100px 0px;
        background-image: url(https://3o7uf91awcm62zbzqs3jrg2t-wpengine.netdna-ssl.com/wp-content/uploads/2015/02/quotebg1.jpg?id=3911);
        text-align: center;

        h3 {
            font-size: 30px;
            color: #ffffff;
            line-height: 36px;
            font-weight: 300;
            margin-bottom: 15px;
        }

        h2 {
            font-size: 36px;
            color: #ffffff;
            font-weight: 700;
            margin-bottom: 40px;
        }

        p {
            max-width: 70%;
            line-height: 30px;
            margin-bottom: 20px;
            color: #ffffff;
            font-size: 18px;
        }
    }

    &__history {
        padding: 100px 0px;

        h2 {
            text-align: center;
            margin-bottom: 65px;
        }

        .ver_line {
            background: linear-gradient(to bottom, #27efd2 1%, #22c8f3 100%);
            height: 100%;
            left: 50%;
            position: absolute;
            width: 10px;
            margin-left: -5px;
            border-radius: 3px;
        }

        &__timeline {
            margin: 0;
            padding: 0 0 80px;
            clear: both;
            position: relative;
        }

        &__point {
            width: 100%;
            float: left;
            display: block;
            clear: both;
            margin-top: 100px;
            margin-bottom: 65px;
            text-align: center;
            line-height: 50px;
            font-size: 24px;
            color: $lightviolet;
            font-weight: 700;
            position: relative;
            background-color: #ffffff;

            &--imp {
                color: #2c3e50 !important;
                line-height: 90px;
                float: none;
                clear: both;
                width: 101px;
                height: 101px;
                margin: 0 auto;
                line-height: 101px;
                border: 5px solid #fff;
                border-radius: 200px;
                box-shadow: inset 0 3px 6px 0 rgba(0, 0, 0, .2), 0 0 1px 0 rgba(0, 0, 0, .15);
            }

        }

        &__event {
            width: 50%;
            position: relative;

            &:nth-child(odd) {
                float: left;
                margin-bottom: 100px;
                padding-right: 100px;
            }

            &:nth-child(even) {
                float: right;
                margin-top: 100px;
                padding-left: 100px;
            }
        }

        &__image {
            float: left;
            border-color: #ecf0f1;
            border: 9px solid #ebebeb;
            border-radius: 50%;
            max-width: 35%;
            margin-top: 8px;

            img {
                display: block;
                border-radius: 50%;
                padding: 2px;
                max-width: 100%;
            }
        }

        &__info {
            float: right;
            max-width: 65%;
            padding-left: 25px;
        }
    }

    &__quote {
        padding: 100px 0;
        background-image: url(https://3o7uf91awcm62zbzqs3jrg2t-wpengine.netdna-ssl.com/wp-content/uploads/2015/02/brandbg2.jpg?id=3949);

        &__logobrand {
            img {
                opacity: 0.8;

                &:hover {
                    opacity: 1;
                }
            }
        }

        &__slider {
            position: relative;
        }

        &__slide {
            position: relative;
        }

        &_author {
            &_text {
                color: #ffffff;
                background-color: #0bddfd;
                font-weight: 400;
                font-size: 18px;
                padding: 42px 208px 48px 50px;
                line-height: 30px;
                border-radius: 7px;
                margin-bottom: 117px;
                position: relative;
                font-style: italic;
                min-height: 215px;
            }

            &_info {
                img {
                    height: 150px;
                    width: 150px;
                    position: absolute;
                    right: 30px;
                    top: 30px;
                    padding: 10px;
                    background: #fff;
                }

                h3 {
                    display: block;
                    color: #fff;
                    font-weight: 700;
                    font-size: 18px;
                    position: absolute;
                    bottom: 67px;
                    right: 0;
                    text-align: right;
                    width: 200px;
                }

                h4 {
                    display: block;
                    color: #fff;
                    font-weight: 400;
                    font-size: 14px;
                    position: absolute;
                    bottom: 42px;
                    right: 0;
                    text-align: right;
                    width: 200px;
                }
            }
        }
    }
}