$green:#1abc9c;
$lightviolet: #a1b1bc;
$blue:#00cced;
$indigo:#2c3e50;

.post {

    &_detail {
        padding: 100px 0px;

        .suggestion {
            h3 {
                font-size: 18px;
                margin: 0 0 31px;
                padding: 0 0 0 26px;
                position: relative;
                font-weight: 700;
                color: $indigo;

                &::before {
                    border-top: 7px solid #1abc9c;
                    border-bottom: 7px solid #46d1ff;
                    content: "";
                    width: 14px;
                    position: absolute;
                    top: 5px;
                    left: 0;
                }
            }

            width: 270px;

            .search_form {
                position: relative;
                width: 100%;
                margin-bottom: 50px;

                #keyword {
                    position: relative;
                    background: #ffffff;
                    border: 1px solid #ecf0f1;
                    color: #a1b1bc;
                    border-radius: 2px;
                    padding: 14px 20px;
                    width: 100%;

                }

                #searchsubmit {
                    font-size: 25px;
                    border: none;
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    background-color: #ffffff;
                    color: $lightviolet;
                    transition: all 0.2 linear;

                    &:hover {
                        color: $green;
                        cursor: pointer;
                    }

                    &:active {
                        outline: none;
                    }
                }
            }

            &__comment {
                font-size: 14px;
                margin-bottom: 50px;

                ul {
                    li {
                        list-style-type: none;
                        border-bottom: 1px solid #ecf0f1;
                        padding: 15px 0px;
                        color: #a1b1bc;

                        i {
                            display: inline-block;
                        }

                        &:first-child {
                            padding-top: 0px;
                        }

                        &:last-child {
                            padding-bottom: 0px;
                            border-bottom: none;
                        }

                        a {
                            color: #a1b1bc;

                            &:hover {
                                color: #1abc9c;
                                transition: all 0.2s linear;
                            }
                        }

                        span {}
                    }
                }



                .comment {

                    &__title {
                        color: $indigo;
                    }

                }
            }

            &__social {
                margin-bottom: 50px;

                li {
                    width: 37px;
                    height: 37px;
                    border-radius: 5px;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    padding: 10px;
                    font-size: 14px;
                }

                #facebook {
                    background-color: #3c5a9a;
                }

                #twitter {
                    background-color: #41d1da;
                }

                #wordpress {
                    background-color: #f874a4;
                }

                #pinterest {
                    background-color: #c9232d;
                }

                #linkedin {
                    background-color: #0173b2;
                }

                #rss {
                    background-color: #f08421;
                }
            }

            &__project {
                margin-bottom: 50px;
            }

            &__tag {
                margin-bottom: 50px;

                a {
                    display: inline-block;
                    border: 1px solid #a1b1bc;
                    color: #a1b1bc;
                    padding: 5px 10px;
                    margin: 0 7px 7px 0;
                    font-size: 13px;
                    line-height: 25px;

                    &:hover {
                        background-color: $green;
                        color: #ffffff;
                    }
                }
            }

            &__archive {
                margin-bottom: 50px;

                a {
                    font-size: 14px;
                }

                li {
                    border-bottom: 1px solid $lightviolet;
                    padding: 15px 0px;

                    &:first-child {
                        padding-top: 0px;
                    }

                    &:last-child {
                        padding-bottom: 0px;
                        border-bottom: none;
                    }
                }
            }

            &__post {
                margin-bottom: 50px;

                &--thumbnail {
                    width: 25%;

                    img {
                        width: 100%;
                    }
                }

                &--content {
                    width: 70%;

                    h4 {
                        color: $indigo;

                        &:hover {
                            color: #1abc9c;
                            transition: all 0.2s linear;
                        }
                    }
                }

                li {
                    border-bottom: 1px solid $lightviolet;
                    padding: 15px 0px;

                    &:first-child {
                        padding-top: 0px;
                    }

                    &:last-child {
                        padding-bottom: 0px;
                        border-bottom: none;
                    }
                }
            }
        }
    }

    &_main {
        max-width: 850px;
    }

    &__title {
        margin-top: 40px;

        h2 a {
            color: $indigo;
        }
    }

    &__info {
        color: $lightviolet;
        margin-top: 18px;
        padding-bottom: 28px;
        border-bottom: 1px solid #ecf0f1;
    }

    &__content {
        margin-top: 25px;
    }

    &__tag {
        margin-top: 35px;
        border: 1px solid #eceef0;
        background: #ffffff;
        line-height: 48px;
        font-size: 14px;
        font-style: italic;
        color: $lightviolet;

        i {
            font-size: 20px;
            color: #ffffff;
            background-color: $indigo;
            padding: 15px;
            margin-right: 18px;
        }
    }

    &__share {
        margin-top: 10px;
        border: 1px solid #eceef0;
        background: #ffffff;
        line-height: 48px;
        font-size: 14px;
        color: $lightviolet;

        #shareicon {
            font-size: 20px;
            color: #ffffff;
            background-color: $blue;
            padding: 15px;
            margin-right: 18px;
        }

        .social {
            display: inline-block;

            i {
                color: $lightviolet;

                &:hover {
                    color: $blue;
                }
            }
        }
    }

    &__author {
        border: 1px solid #eceef0;
        background: #f9fafb;
        color: #a1b1bc;
        box-shadow: 0 0px 0px #ffffff, 0 4px 0 -1px #ffffff, 0 0px 0px 0px #ffffff, 0 0px 0px #ffffff, 0 4px 0 0px #ecf0f1, 0px 0px 0px 0px #ffffff;
        margin-top: 50px;
        padding: 27px;

        &--avatar {
            border: 3px solid #fff;
            border-radius: 5px;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, .15);
            max-width: 16%;

            img {
                max-width: 100%;
                height: auto;
            }
        }

        &--info {
            max-width: 80%;

            a {
                color: $lightviolet;
                font-style: italic;
                font-size: 14px;

                &:hover {
                    color: $blue;
                }
            }
        }
    }

    &__related {
        margin-top: 70px;

        h2 {
            font-size: 30px;
            display: inline-block;
            font-weight: 400;
            color: $indigo;
            line-height: 36px;
            margin-bottom: 25px;
        }

        &__item {}

        &__title {
            h2 a {
                font-weight: 700;
                line-height: 24px;
                font-size: 24px;
                color: $indigo;

                &:hover {
                    color: $green;
                }
            }
        }

        &__info {
            color: $lightviolet;
            margin: 13px auto;
            padding-bottom: 18px;
            font-size: 13px;
            border-bottom: 1px solid #ecf0f1;
        }

        &__readmore {
            a {
                color: $indigo;
                border: 1px solid $indigo;
                background-color: #fff;
                font-size: 14px;
                padding: 12px 20px;
                margin-top: 24px;
                text-transform: uppercase;
                border-radius: 3px;
                font-weight: 900;

                &:hover {
                    color: #fff;
                    background-color: $indigo;
                }
            }
        }
    }

    &__comment {
        padding-top: 30px;
        padding-bottom: 50px;

        h2 {
            font-weight: 400;
            padding-bottom: 27px;
            line-height: 30px;
            font-size: 30px;
            margin-bottom: 10px;
        }

        form {
            color: $lightviolet !important;

            textarea {
                width: 100%;
                border-radius: 3px;
                padding: 14px 20px;
                border: 1px solid #eceef0;
                margin-bottom: 20px;
            }

            input {
                width: 260px;
                margin-right: 30px;
                border-radius: 3px;
                padding: 14px 20px;
                border: 1px solid #eceef0;
            }

            #website {
                margin-right: 0px;
            }

            #submit {
                width: auto;
                font-size: 16px;
                font-family: Lato;
                text-transform: uppercase;
                color: #fff;
                background-color: $indigo;
                border-radius: 3px;
                margin-top: 20px;
                letter-spacing: 1px;
                transition: all .2s linear;

                &:hover {
                    background-color: $green;
                    cursor: pointer;
                }
            }
        }
    }

}