$green:#1abc9c;
$lightviolet: #a1b1bc;
$blue: #21c2f8;

.blog {

    &__container {
        padding: 100px 0px;
        background-color: #f9fafb;
    }

    &__post {
        width: 49%;
        background-color: #ffffff;
        border: 1px solid #ecf0f1;
        color: $lightviolet;
        padding-bottom: 10px;
        margin-bottom: 40px;

        img {
            width: 100%;
        }

        &__wrapper {
            border-bottom: 1px solid #ecf0f1;
            color: $lightviolet;
            padding: 20px 20px 14px;
        }

        &__attachment {
            margin-bottom: 25px;
        }

        &__title {
            h2 {
                font-weight: 700;
                line-height: 30px;
                font-size: 30px;
                color: #2c3e50;
            }

            a {
                color: #2c3e50;

                &:hover {
                    color: #21c2f8;
                }
            }
        }

        &__info {
            border-bottom: 1px solid #ecf0f1;
            width: 100%;
            font-size: 13px;
            padding-bottom: 18px;
            margin: 11px 0 14px;
        }

        &__audio {
            background-color: $lightviolet;
            padding: 0 10px;

            &--play {
                font-size: 15px;
                height: 40px;
                line-height: 10px;
                margin: 0;
                width: 32px;
                color: #ffffff;
                padding: 13px;

                i {
                    cursor: pointer;
                    height: 20px;
                    line-height: 0;
                }
            }

            &--time {
                color: #fff;
                font-size: 11px;
                font-weight: 400;
                height: 24px;
                overflow: hidden;
                padding: 16px 6px 0;
                text-align: center;
                width: 40px;
            }
        }

        &__intro {
            a {
                color: #ffffff;
                border: 1px solid #2c3e50;
                background: #2c3e50;
                padding: 12px;
                margin: 20px 0 0;
                font-size: 14px;
                text-transform: uppercase;
                text-shadow: none;
                letter-spacing: 1px;
                font-weight: 900;
                border-radius: 3px;
                display: table;

                &:hover {
                    background: $blue;
                    border: 1px solid #21c2f8;
                }
            }
        }

        &__interact {
            width: 100%;
            font-size: 13px;
            margin-top: 20px;
            padding-top: 14px;
            border-top: 1px solid #ecf0f1;
        }

    }
}