$green:#1abc9c;
$lightviolet: #a1b1bc;
$blue:#00cced;

.contact {
    &__map {
        max-width: 100%;
        max-height: 500px;
    }

    &__info {
        padding: 100px 0px;
    }

    &__forms {
        input {
            width: 100%;
            margin-bottom: 25px;
            border: 1px solid #ebeef1;
            margin-top: 3px;
            border-radius: 5px;
            padding: 10px 20px;

            &:active {
                border: 1px solid #ebeef1;
            }
        }

        textarea {
            width: 100%;
            margin-bottom: 25px;
            border: 1px solid #ebeef1;
            margin-top: 3px;
            border-radius: 5px;
            padding: 10px 20px;
        }

        &_submit {
            width: auto !important;
            color: #ffffff;
            background-color: $green;
            font-size: 15px;
            font-weight: 900;
            border-radius: 2px;
            padding: 11px 40px !important;

            &:hover {
                background-color: $blue;
            }
        }
    }

    &__detail {
        h2 {
            font-size: 30px;
            text-align: left;
            font-family: Lato;
            font-weight: 400;
            font-style: normal;
            margin-bottom: 17px;
        }

        h3 {
            margin: 10px 0;
        }

        p {
            a {
                color: $green;

                &:hover {
                    color: #29d9c2;
                }
            }
        }
    }
}