$green:#1abc9c;
$lightviolet: #a1b1bc;
$blue:#00cced;


.home {
  .slider {
    width: 100%;   
    position: relative;

    .slide {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center top;
      background-repeat: no-repeat;
      // display: none;

      &__container{
        width: 100%;
        height: 100%;  
      }

      &--1 {
        padding: 240px 0px;
        background-image: url(https://3o7uf91awcm62zbzqs3jrg2t-wpengine.netdna-ssl.com/wp-content/uploads/2015/02/bg123.jpg);
      }

      &--2 {
        background-image: url("https://3o7uf91awcm62zbzqs3jrg2t-wpengine.netdna-ssl.com/wp-content/uploads/2014/11/slider_112.jpg");
      }

      &--3{
        background-image: url("https://3o7uf91awcm62zbzqs3jrg2t-wpengine.netdna-ssl.com/wp-content/uploads/2014/12/slider_22.jpg");
      }

      &__purchase {
        li {

          font-size: 24px;
          font-weight: bold;
          color: #1a1c27;
          margin-bottom: 15px;


          img {
            margin-left: 9px;
            margin-right: 9px;
            width: 30px;
            height: 30px;
            vertical-align: middle;
          }

          &:nth-child(2) {


            img {
              margin-left: 0px;
              margin-right: 0px;
              width: 48px;
              height: 48px;
            }
          }
        }
      }

      &__buynow {
        border-radius: 2px;
        background-color: #1a1c27;
        margin-top: 30px;
        padding: 24px 52px;
        font-size: 16px;
        font-weight: 900;
        color: #ffffff;
        &:hover{
          background-color: $blue;
        }
      }

      &__arrow {

        position: absolute;
        top: 50%;
        width: 70px;
        height: 70px;
        cursor: pointer;
        background: rgba(0, 0, 0, 0.15);
        text-align: center;
        padding: 15px 0px;  
        transition: all .2s linear;    

        &:hover {
          i {
            color: $lightviolet;
          }

          background-color: #ffffff;
        }

        &--prev {
          left: 0px;
        }

        &--next {
          right: 0px;
        }

        i {
          color: #ffffff;
          opacity: 0.8;
          font-size: 40px;
        }
      }
    }

    p {
      font-size: 26px;
      font-weight: normal;
      color: #222533;
      margin: 0px;
    }

    h1 {
      font-size: 50px;
      font-weight: 900;
      color: #1a1c27;
      margin: 20px 0px;
    }
  }

  .about-us {
    padding: 100px 0px;

    .fleft,
    .fright {
      max-width: 45%;
    }

    h1 {
      font-size: 36px;
      font-weight: 300;
      margin: 0 0 30px 0;
    }

    h2 {
      font-size: 15px;
      font-weight: bold;

    }

    &--welcome {
      h2 {
        margin-top: 30px;
        margin-bottom: 20px;
      }
    }

    .view-detail {
      border-radius: 2px;
      box-shadow: 0px 3px 0 0 #81919b;
      background-color: #a1b1bc;
      margin-top: 20px;
      padding: 19px 25px;
      color: #ffffff;
      font-size: 16px;
      font-weight: 900;

      &:hover {
        color: #ffffff;
        background: #222533;
      }
    }

    .dopdown {
      h2 {
        border: solid 1px #eceef0;
        background-color: #ffffff;
        padding: 15px 20px;

        &:hover {
          cursor: pointer;
        }
      }

      p {
        overflow: hidden;
        max-height: 0px;
      }

      &--show {
        p {
          border: solid 1px #eceef0;
          background-color: #ffffff;
        }
      }
    }
  }

  .simple-work {
    h1 {
      font-size: 36px;
      font-weight: 300;
      text-align: center;
    }

    h2 {
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
      padding: 20px;
      margin: 0px;
      background-color: #ffffff;
    }

    .work {

      &__title {
        h2 {
          display: block;
          border: solid 1px #eceef0;
        }
      }

      &__content {
        position: relative;
        width: 100%;
        height: 200px;
        background-color: $lightviolet;
        border: solid 1px #ffffff;

        i {
          position: absolute;
          top: 50%;
          left: 50%;
        }
      }
    }
  }

  .why-with-us {
    padding: 100px 0px;

    .fleft,
    .fright {
      max-width: 48%;
    }

    .view-detail {
      font-size: 16px;
      font-weight: 900;
      border-radius: 2px;
      box-shadow: 0px 3px 0 0 #81919b;
      background-color: #a1b1bc;
      padding: 18px 25px;
      color: #ffffff;
      margin-top: 20px;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .fun-fact {
    padding: 0px;

    .row>div:nth-child(odd) {
      background-color: #20caa8;
    }

    .row>div:nth-child(even) {
      background-color: #1ad5b0;
    }

    .fact {
      height: 200px;
      font-size: 30px;
      font-weight: 300;
      color: #ffffff;
      text-align: center;
      padding: 75px 0px;

      span {
        display: block;
        font-size: 14px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
  }

  .testimonials {
    padding-top: 100px;

    h1 {
      text-align: center;
    }

    h3 {
      font-size: 14px;
      font-weight: normal;
      color: #a1b1bc;
      margin-top: 5px;
      margin-bottom: 20px;
    }

    .quote {
      &-container {
        padding-top: 50px;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
      }

      &__title {
        border: solid 1px #e4e7e9;
        background-color: #ecf0f1;
        padding: 30px;
      }

      &__avatar {
        border: 1px solid #e4e7e9;
        border-radius: 50%;

        img {
          width: 100px;
          border: solid 4px #ffffff;
          background-color: #cccccc;
          border-radius: 50%;
        }
      }

      &__content {
        max-width: 70%;
      }

      &--rp {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }

    .company {
      img {
        max-width: 120px;
        margin: 0 40px;

        &:first-child {
          margin-left: 0px;
        }

        &:nth-child(6) {
          margin-right: 0px;
        }
      }
    }
  }

  .location {
    iframe {
      width: 100%;
      height: 500px;
    }
  }

  .contact {
    padding: 100px 0px;

    .fleft,
    .fright {
      max-width: 48%;
    }

    &__adress {
      &--info {
        line-height: 2.14;
      }
    }

    &__social {
      margin: 30px auto;

      i {
        color: #2c3e50;

        &:hover,
        :active {
          color: #1abc9c;
        }
      }
    }

    &__forms {
      box-sizing: border-box;

      input {
        width: 100%;
        margin-bottom: 20px;
        padding: 20px;
        color: $lightviolet;
        box-sizing: border-box
      }

      textarea {
        width: 100%;
        height: 100px;
        margin-bottom: 20px;
        padding: 20px;
        box-sizing: border-box
      }

      button {
        width: 100%;
        border: none;
        box-shadow: 0px 3px 0 0 #81919b;
        background-color: #a1b1bc;
        padding: 22px 0px;
        text-align: center;
        font-size: 16px;
        font-weight: 900;
        line-height: 3.75px;
        color: #ffffff;
        border-radius: 3px;
        text-transform: uppercase;

        &:hover {
          background-color: #29d9c2;
          cursor: pointer;
          transition: all 0.2s linear;
        }
      }
    }
  }

  .standard-blog {
    height: 280px;

    .blog {
      &__container {
        position: relative;
      }

      &__list {
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        bottom: auto;
        right: auto;
        margin: 0;
      }

      &__item {
        display: inline-block;
        position: relative;
        float: left;
        margin: 0;
        width: 20%;

        img {
          width: 100%;
        }
      }

      &__content {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 26.5px 0px;

        p {
          font-size: 14px;
          font-weight: 400;
          color: #ffffff;
        }
      }

      &__title {
        color: #ffffff;
      }
    }
  }

  .slogan {
    background-image: url(https://3o7uf91awcm62zbzqs3jrg2t-wpengine.netdna-ssl.com/wp-content/uploads/2014/12/purchase3.jpg?id=7200);
    width: 100%;
    height: 500px;
    padding: 176px 0px;
    text-align: center;

    &__content {
      &--header {
        color: #ffffff;
        margin-bottom: 18px;
      }

      &--text {
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 30px;
      }
    }

    &__purchase {
      color: #ffffff;
      background: rgba(255, 255, 255, 0.01);
      border-style: solid;
      border-color: #ffffff;
      padding: 14px 17px 13px;
      font-weight: 900;

      &:hover {
        color: #2c3e50;
        background: #ffffff;
        border-color: #ffffff;
        cursor: pointer;
        transition: all 0.2s linear;
      }
    }
  }

}

