$green:#1abc9c;
$lightviolet: #a1b1bc;
$blue:#00cced;
$indigo:#2c3e50;


.search {
    padding: 100px 0px;

    &__result {
        max-width: 850px;

        h1 {
            font-weight: 400;
            color: #2c3e50;

            strong {
                color: $green;
                font-weight: 900;
            }
        }

        .search_form {
            position: relative;
            width: 100%;
            margin-bottom: 60px;
            margin-top: 30px;

            #keyword {
                position: relative;
                background: #ffffff;
                border: 1px solid #ecf0f1;
                color: #a1b1bc;
                border-radius: 2px;
                padding: 20px;
                width: 100%;

            }

            #searchsubmit {
                font-size: 25px;
                border: none;
                position: absolute;
                right: 0px;
                top: 0px;
                background-color: $indigo;
                color: #ffffff;
                transition: all 0.2s linear;
                padding: 14px 22px;

                &:hover {
                    background-color: $green;
                    cursor: pointer;
                }

                &:active {
                    outline: none;
                }
            }
        }

        &__container {
            margin-top: 60px;

        }
    }



    &__post {
        box-shadow: 0 0px 0px #ffffff, 0 10px 0 -1px #ffffff, 0 0px 0px 0px #ffffff, 0 0px 0px #ffffff, 0 10px 0 0px #ecf0f1, 0px 0px 0px 0px #ffffff;
        background: #ffffff;
        border: 1px solid #ecf0f1;
        padding: 20px 20px 14px;

        &--attachment {
            margin-bottom: 20px;

            img {
                width: 100%;
            }
        }

        &--title {
            h2 {
                color: $indigo;
                font-size: 18px;
                line-height: 24px;
                font-weight: 700;
                transition: all .2s linear;

                &:hover {
                    color: $green;
                }
            }

            p {
                border-top: 1px solid #ecf0f1;
                width: 100%;
                font-size: 13px;
                margin-top: 20px;
                text-align: left;
                padding-top: 14px;
            }
        }
    }

    &__suggest {
        h3 {
            font-size: 18px;
            margin: 0 0 31px;
            padding: 0 0 0 26px;
            position: relative;
            font-weight: 700;
            color: $indigo;

            &::before {
                border-top: 7px solid #1abc9c;
                border-bottom: 7px solid #46d1ff;
                content: "";
                width: 14px;
                position: absolute;
                top: 5px;
                left: 0;
            }
        }

        width: 270px;

        .search_form {
            position: relative;
            width: 100%;
            margin-bottom: 50px;

            #keyword {
                position: relative;
                background: #ffffff;
                border: 1px solid #ecf0f1;
                color: #a1b1bc;
                border-radius: 2px;
                padding: 14px 20px;
                width: 100%;

            }

            #searchsubmit {
                font-size: 25px;
                border: none;
                position: absolute;
                right: 10px;
                top: 10px;
                background-color: #ffffff;
                color: $lightviolet;
                transition: all 0.2 linear;

                &:hover {
                    color: $green;
                    cursor: pointer;
                }

                &:active {
                    outline: none;
                }
            }
        }

        &__comment {
            font-size: 14px;
            margin-bottom: 50px;

            ul {
                li {
                    list-style-type: none;
                    border-bottom: 1px solid #ecf0f1;
                    padding: 15px 0px;
                    color: #a1b1bc;

                    i {
                        display: inline-block;
                    }

                    &:first-child {
                        padding-top: 0px;
                    }

                    &:last-child {
                        padding-bottom: 0px;
                        border-bottom: none;
                    }

                    a {
                        color: #a1b1bc;

                        &:hover {
                            color: #1abc9c;
                            transition: all 0.2s linear;
                        }
                    }

                    span {}
                }
            }



            .comment {

                &__title {
                    color: $indigo;
                }

            }
        }

        &__social {
            li {
                width: 37px;
                height: 37px;
                border-radius: 5px;
                margin-right: 10px;
                margin-bottom: 10px;
                padding: 10px;
                font-size: 14px;
            }

            #facebook {
                background-color: #3c5a9a;
            }

            #twitter {
                background-color: #41d1da;
            }

            #wordpress {
                background-color: #f874a4;
            }

            #pinterest {
                background-color: #c9232d;
            }

            #linkedin {
                background-color: #0173b2;
            }

            #rss {
                background-color: #f08421;
            }
        }
    }
}