/*Footer*/

footer {
    padding: 30px 0px;
    background-color: #222533;

    .footer {
        &__copyright {
            a {
                color: #1abc9c;

                &:hover {
                    color: #ffffff;
                    transition: all .2s linear;
                }
            }

        }

        &__social {
            i {
                color: #a1b1bc;
                font-size: 16px;

                &:hover {
                    color: #ffffff;
                    transition: all .4s linear;
                }
            }
        }
    }
}

.footer_bg {
    &--1 {
        background-color: #1a1c27;
        padding: 100px 0px;

        h2 {
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 900;
            letter-spacing: normal;
            color: #ffffff;
            line-height: 18px;
            margin-bottom: 51px;
            padding-left: 20px;
            border-left: 5px solid #1abc9c
        }

        ul {
            li {
                list-style-type: none;
                border-bottom: 1px solid #243240;
                padding: 15px 0px;
                color: #a1b1bc;

                &:first-child {
                    padding-top: 0px;
                }

                &:last-child {
                    padding-bottom: 0px;
                    border-bottom: none;
                }

                a {
                    color: #a1b1bc;

                    &:hover {
                        color: #1abc9c;
                        transition: all 0.2s linear;
                    }
                }

                span {}
            }
        }

        .comment {
            &__title {
                color: #ffffff;
            }
        }
    }

    &--2 {
        background-color: #1a1c27;
        padding: 100px 0px;

        li {
            border-bottom: 1px solid #243240;
            padding: 15px 0px;

            &:first-child {
                padding-top: 0px;
            }

            &:last-child {
                padding-bottom: 0px;
                border-bottom: none;
            }
        }

        h2 {
            margin-bottom: 36px;
            font-size: 24px;
            letter-spacing: normal;
            margin-bottom: 36px;
            color: #ffffff;
            font-weight: 300;
        }


    }

    &__thefox {
        img {
            width: 100%;
            margin-bottom: 17px;
        }
    }

    &__post {
        &--thumbnail {
            width: 20%;

            img {
                width: 100%;
            }
        }

        &--content {
            width: 75%;

            h4 {
                color: #ffffff;

                &:hover {
                    color: #1abc9c;
                    transition: all 0.2s linear;
                }
            }
        }
    }

    &__tag {
        margin-bottom: 30px;

        a {
            display: inline-block;
            border: 1px solid #a1b1bc;
            color: #a1b1bc;
            padding: 5px 10px;
            margin: 0 7px 7px 0;
            font-size: 13px;
            line-height: 25px;

            &:hover {
                background-color: $green;
                color: #ffffff;
            }
        }
    }

    &__archive {

        a {
            font-size: 14px;
        }
    }
}