/*Header*/



.registration {
    background-color: #21c2f8;

    .social-media {
        .social {
            margin: 20px 0px;
            padding: 0px;
        }

        li {
            margin-right: 10px;
        }
    }

    .btn {
        border-radius: 2px;
        border: solid 1px #ffffff;
        font-family: Lato;
        font-size: 14px;
        font-weight: normal;
        padding: 10px 13px;
        text-decoration: none;

        &__container {
            margin: 10px 5px;
        }

        &--register {
            background-color: $blue;
            color: #ffffff;
        }

        &--join {
            background-color: #ffffff;
            color: $lightviolet;
            margin-left: 10px;
        }
    }

}

.topnav {
    background-color: #ffffff;
    padding: 27px 0px;

    .logo {
        width: 20%;
    }



    .menu{
        max-width: 85%;
        padding: 10px 0px;
        &__list{
            li {
                display: inline-block;
                list-style-type: none;
                margin: auto 15px;

                &:first-child{
                    margin-left: 0px;
                }

                &:last-child{
                    margin-right: 0px;
                }
    
                a {
                    text-decoration: none;
                    font-family: Lato;
                    font-size: 14px;
                    color: #2c3e50;
                    font-weight: normal;
                    transition: 0.1s ease;
                    padding: 35px 0px;
    
                    &:hover {
                        cursor: pointer;
                        color: #1abc9c;
                    }
    
                    &:focus {
                        color: #1abc9c;
                        border-top: 5px solid #1abc9c;
                    }
                }
            }
        }

        &__button {
            a {
                margin-left: 20px;
            }
            img{
                width: auto;
            }
        }
    }
}