/*Variables*/
$green:#1abc9c;
$lightviolet: #a1b1bc;
$blue:#00cced;


/*Global*/
* {
    margin: auto;
    padding: 0px;
}

body {
    font-family: Lato;
}

h1,
h2,
h3,
h4 {
    color: #2c3e50;
    margin: auto;
    font-style: normal;
    margin-bottom: 10px;
}

h1,h2 {
    font-size: 36px;
    font-weight: 300;
}

p {
    color: $lightviolet;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
}

a {
    text-decoration: none;
    color: $lightviolet;

    &:hover {
        color: #1abc9c;
        transition: all 0.2s linear;
    }
}

li{
    list-style-type: none;
}

img{
    width: 100%;
}

.fleft {
    float: left;

    &--48 {
        width: 48%;
    }
}

.fright {
    float: right;

    &--48 {
        width: 48%;
    }
}

.clear {
    clear: both;
}

.btn {
    border: none;
    outline: none;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2 linear;

    &:hover {
        cursor: pointer;
    }
}

.social {
    padding: 0px;

    li {
        display: inline-block;
        list-style-type: none;

        a {
            text-decoration: none;
        }
    }

    i {
        font-family: 'ElegantIcons';
        color: #ffffff;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1.06;
        font-size: 18px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-right: 10px;

        &:hover {
            cursor: pointer;
        }
    }
}

.eleganticon {
    font-family: 'ElegantIcons';
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1.06;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:hover {
        cursor: pointer;
    }
}

.avatar{
    border-radius: 50%;
    max-width: 100%;
}


/*Icons*/
.social_facebook:before {
    content: "\e093";
}

.social_twitter:before {
    content: "\e094";
}

.social_pinterest:before {
    content: "\e095";
}

.social_googleplus:before {
    content: "\e096";
}

.social_tumblr:before {
    content: "\e097";
}

.social_tumbleupon:before {
    content: "\e098";
}

.social_wordpress:before {
    content: "\e099";
}

.social_instagram:before {
    content: "\e09a";
}

.social_dribbble:before {
    content: "\e09b";
}

.social_rss:before {
    content: "\e09e";
}

.social_flickr:before {
    content: "\e0a6";
}

.social_linkedin:before {
    content: "\e09d";
}

.social_pinterest_circle:before {
    content: "\e0ac";
}

.social_skype:before {
    content: "\e0a2";
}

.social_vimeo:before {
    content: "\e09c";
}

.arrow_carrot-left:before {
    content: "\34";
}

.arrow_carrot-right:before {
    content: "\35";
}